* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
}

header h2 {
    width: 50%;
    margin: auto;
    display: inline-block;
}

#quiz,
#results {
    text-align: center;
    font-size: 150%;
    padding: 10px;
    min-width: fit-content;
    max-width: 40%;
    margin: auto;
    border: 3px solid red;
    border-radius: 10px;
    box-shadow: 4px 7px 11px 0px rgba(0,0,0,0.45);
}

#startBtn {
    width: 50%;
    margin: auto;
    text-align: center;
}

.button,
#saveHighScore {
    background-color: whitesmoke;
    color: red;
    border: 3px solid red;
    border-radius: 10px;
    font-size: 150%;
    box-shadow: 4px 7px 11px 0px rgba(0,0,0,0.45);
}

.button:hover,
.choice:hover {
    background-color: red;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer
}

.button:active,
.choice:active {
    background-color: red;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px rgba(0,0,0,0.45);
}

.choice {
    padding: 15px;
    width: 25%;
    margin: auto;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
}

div #results {
    text-align: center;
    margin: 10px;
}

#form {
    text-align: center;
    width: 30%;
    margin: auto;
}

footer {
    height: 50px;
    bottom: 0px;
}
